
body {
	font-family: Raleway;
	margin: 0;
	background: $color__bg;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	opacity: 0.7;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.75;
}

.resume {
	padding-top: 24px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.leftbar {
	width: 320px;
	float: left;
}

.leftbar .topsec {
	padding: 0;
	margin: 0;
}

.leftbar .bottomsec {
	background: $color__box;
	padding: 24px 24px 1px;
	padding-top: 74px;
	position: relative;
	top: -48px;
}

.leftbar .profilePic {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	background: white;
	padding: 2px;
	border-radius: 64px;
	box-shadow: 0 2px 3px rgba(black, 0.1), 0 3px 2px rgba(black, 0.12);
	position: relative;
	z-index: 2;
}

.leftbar .profilePic img {
	border-radius: 64px;
	position: relative;
	z-index: 2;
}

.leftbar .name h1 {
	color: $color__heading;
	font-family: Playfair;
	font-weight: 900;
	font-style: italic;
	margin-bottom: 24px;
	line-height: 0.7;
	font-size: 2em;
}

.leftbar .info h2 {
	color: $color__primary;
	font-size: 1em;
	margin-bottom: 0.8em;
}

.leftbar p.profile {
	font-weight: 400;
	line-height: 1.5em;
	margin-top: -0.5em;
	margin-bottom: 18px;
}

.leftbar h4 {
	color: $color__secondary;
	margin-bottom: 12px;
	font-size: 0.75em;
}

.main {
	padding: 26px 24px 24px;
	background: $color__box;
	float: left;
	width: 680px;
	margin-left: 24px;
	margin-bottom: 24px;
}

hr {
	background: rgba($color__foreground, 0.125);
	height: 1px;
	border: 0;
	margin-bottom: 24px;
}

h3 {
	font-size: 24px;
	color: $color__heading;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 24px;
}

p {
	color: rgba($color__foreground, 0.6);
	margin-top: -0.5em;
	line-height: 1.5em;
	margin-bottom: 23px;
}

.row {
	background: rgba($color__foreground, 0.025);
	padding: 24px;
	margin-bottom: 24px;
}

.row.lastRow {
	margin-bottom: 0;
}

.row .leftCol {
	float: left;
	margin-right: 24px;
}

.row .leftCol h4 {
	font-size: 12px;
	display: inline-block;
	color: rgba($color__foreground, 0.75);
	background: rgba($color__foreground, 0.065);
	border-radius: 24px;
	height: 48px;
	width: 48px;
	padding: 0;
	line-height: 48px;
	text-align: center;
}

.row .rightCol {
	float: left;
	width: calc(100% - 72px);
}

.row .rightCol h4 {
	color: $color__primary;
	font-size: 24px;
	margin-bottom: 12px;
}

.row .rightCol h5 {
	font-size: 0.75em;
	color: rgba($color__foreground, 0.5);
	margin-bottom: 32px;
}

.row .rightCol h5 span {
	color: $color__primary;
}

.row .rightCol p {
	margin-bottom: 0;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.education .rightCol h5 {
	font-size: 0.75em;
	color: rgba($color__foreground, 0.5);
	margin-bottom: 0 !important;
}

.schoolLogo {
	height: 48px;
	width: 48px;
	background: white;
	padding: 2px;
	float: right;
	border-radius: 50%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.12);
}

.schoolLogo img {
	border-radius: 50%;
}

.ctownLogo {
	position: relative;
	top: 4px;
	width: 90%;
	left: 2px;
}

.rightCol2 {
	width: 64px;
	float: right;
}

.skills {
	margin-bottom: 23px;
}

.skills > .row > .col-6 {
	border-right: 1px solid rgba($color__foreground, 0.125);
}

.skills .row {
	margin: 0;
	padding: 0;
	background: transparent;
}

.skills .row .col-6 {
	box-sizing: border-box;
	width: 50%;
	float: left;
	margin-right: 24px;
}

.skills .row .col-6 + .col-6 {
	width: calc(50% - 24px);
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.skills h5 {
	color: rgba($color__foreground, 0.25);
	margin-bottom: 6px;
	font-size: 0.75em;
}

.skills li {
	color: rgba($color__foreground, 0.5);
	margin-bottom: 12px;
	font-size: 0.75em;
}

.skills li:before {
	content: "•";
	padding-right: 1em;
	color: $color__primary;
}

.col-6 {
	box-sizing: border-box;
	width: 50%;
	float: left;
	margin-right: 24px;
}

.col-6 + .col-6 {
	width: calc(50% - 24px);
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.softskills {
	margin-bottom: 24px;
}

.chips {
	font-size: 0;
	text-align: justify;
	padding: 0;
}

.chips:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.chips li {
	display: inline-block;
	background: $color__secondary;
	font-size: 12px;
	padding: 12px 1.5em;
	border-radius: 24px;
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	letter-spacing: 0.02em;
}

.links {
	margin-bottom: -22px;
}

.links .row {
	background: transparent;
	padding: 0;
}

.links h4 {
	font-size: 12px;
	display: inline-block;
	color: $color__box;
	background: $color__primary;
	border-radius: 24px;
	height: 36px;
	width: 36px;
	padding: 0;
	line-height: 36px;
	text-align: center;
}

.links h5 {
	display: inline-block;
	width: calc(100% - 96px);
	padding-left: 12px;
	color: rgba($color__foreground, 0.5);
	font-size: 0.75em;
}

@media only screen and (max-width: 1030px) {
	.col-m-6 {
		width: 50%;
		float: left;
	}

	.m-row:after {
		content: "";
		clear: both;
		display: table;
	}

	.container {
		width: 100%;
	}

	.nav {
		padding: 0 24px;
	}

	.leftbar {
		width: 90%;
		margin-left: 5%;
	}

	.main {
		width: 90%;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 700px) {
	.leftCol {
		float: right !important;
		padding: 0;
		margin: 0 !important;
		display: none !important;
	}

	.experience .rightCol {
		float: left;
		width: 100%;
	}

	.skills .row {
		margin: 0;
	}

	.skills .row .col-6.nest {
		width: 100%;
	}

	.chips {
		display: block;
		width: 100%;
		overflow: hidden;
	}

	.chips li {
		display: block;
		margin-right: 12px;
		box-sizing: border-box;
		float: left;
		padding: 12px 24px;
		margin-bottom: 12px;
	}

	.chips li:last-child {
		margin-bottom: 0;
	}

	.chips :after {
		content: "";
		clear: both;
		display: table;
	}

	.links .row {
		margin: 0;
	}

	.links .col-6 {
		width: 100%;
		margin-bottom: 24px;
	}
}

@media only screen and (max-width: 500px) {
	.col-m-6 {
		width: 100%;
		float: left;
	}
}

@media only print {}

.show-on-home {
	display: none;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
}

.skill {
	width: 150px;
	margin-bottom: 0.7em;
	font-size: 0.8em;
	color: rgba($color__foreground, 0.5);
}

.skill:before {
	content: '•';
	color: $color__primary;
	padding-right: 0.5em;
}

.links-list {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.5em;
}

.link-item {
	width: 50%;
	margin-bottom: 1em;
}
