$green: #4ebb6c;
$pink: #ce3359;
$navy: #151a25;
$blue-violet: #24263c;
$grey--light: #eeeeee;
$white: #ffffff;
$deep-purple: #501895;

$color__bg: $white;
$color__box: darken($color__bg, 2%);
$color__primary: $deep-purple;
$color__secondary: $deep-purple;
$color__foreground: black;
$color__heading: lighten($color__foreground, 20%);
